.nav{
    width: 150px;
    padding-left: 20px;
    background-color: rgb(233, 177, 233);
}

.nav__list{
    margin: 0;
    padding: 0;
    padding: 20px 0;
    list-style: none;
}

.nav__item{
    padding-bottom: 10px;
}

.nav__link{
    text-decoration: none;
}